<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :UserId %><br>
    <%= f.number_field :UserId %>
  </div>
  <div class="field">
    <%= f.label :Login %><br>
    <%= f.text_field :Login %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Password %><br>
    <%= f.text_field :Password %>
  </div>
  <div class="field">
    <%= f.label :CharacterName %><br>
    <%= f.text_field :CharacterName %>
  </div>
  <div class="field">
    <%= f.label :City %><br>
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :Admin %><br>
    <%= f.check_box :Admin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
