<h1>New user</h1>

    <%= form_for("registration") do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= f.label 'character' %><br>
      <%= select_tag :character_id, options_for_select(session_character_list) %>
    </div>

    <div class="field">
      <%= f.label :login %><br>
      <%= f.text_field :login %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :city %><br>
      <%= f.select :city_id, options_for_select(cities_list) %>
    </div>


    <div class="actions">
      <%= link_to 'Save', "#", class: "sys-reg-user" %>
    </div>
<% end %>

