.row
  .list-group-item-heading
    %i= 'Название'
  .list-group
    - @cities.each do |city|
      .list-group-item
        %i= city.name
        .pull-right
          =link_to "/admin/cities/#{city.id}/edit" do
            =fa_icon 'edit'
          =link_to "/admin/cities/#{city.id}", :method => :delete, :data => { :confirm => 'Are you sure?' } do
            = fa_icon 'trash'
      %br

= paginate @cities

.margin-top-20
= link_to '/admin/cities/new', {:class=>'btn btn-primary btn-visited'} do
  = fa_icon 'plus'
  %span
    Добавить город