.row
  .list-group
    .list-group-item-heading
    - @events.each do |event|
      .list-group-item
        .event-admin-general
          =image_tag event.picture(:thumb), :class=>'event-admin-img'
          %h2= 'Название'
          %i= event.name
          %h2= 'Описание'
          %i= event.description
        .event-admin-second
          %h2= 'Начало'


.margin-top-20
= link_to '/admin/events/new', {:class=>'btn btn-primary btn-visited'} do
  = fa_icon 'plus'
  %span
    Добавить мероприятие