%h1 Listing genre_user_tags

%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - @genre_user_tags.each do |genre_user_tag|
      %tr
        %td= genre_user_tag.title
        %td= link_to 'Show', genre_user_tag
        %td= link_to 'Edit', edit_genre_user_tag_path(genre_user_tag)
        %td= link_to 'Destroy', genre_user_tag, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Genre user tag', new_genre_user_tag_path
