= form_for @admin_admin do |f|
  - if @admin_admin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_admin.errors.count, "error")} prohibited this admin_admin from being saved:"
      %ul
        - @admin_admin.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label 'Логин'
    = f.text_field :login, :class => 'form-control'

  .form-group
    = f.label 'Пароль'
    = f.text_field :password, :class => 'form-control'
  - if @current_admin.role == 0
    .form-group
      = f.label 'Роль'
      = f.select :role,  options_for_select(get_list_roles), {}, :class=>'form-control'
  .margin-top-20
  .actions
    = f.submit 'Сохранить', class: 'btn btn-primary btn-md'
