%h1 New favority

= form_for "favority" do |f|
  .field
    = f.label :event
    = f.number_field :event_id
  .field
    = f.label :user
    = f.number_field :user_id
  .actions
    = link_to 'Save', '#', :class => "sys-add-favorite btn btn-default"

