= form_for @tags_user do |f|
  - if @tags_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tags_user.errors.count, "error")} prohibited this tags_user from being saved:"
      %ul
        - @tags_user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :context
    = f.text_field :context
  .actions
    = f.submit 'Save'
