%h1 Listing tags_users

%table
  %thead
    %tr
      %th Context
      %th
      %th
      %th

  %tbody
    - @tags_users.each do |tags_user|
      %tr
        %td= tags_user.context
        %td= link_to 'Show', tags_user
        %td= link_to 'Edit', edit_tags_user_path(tags_user)
        %td= link_to 'Destroy', tags_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tags user', new_tags_user_path
